<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>Bug Tracker</title>
</head>
<body>
    <div class="container">
        <div class="row text-center">
            <h1><%=title%></h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Created At</th>
                    </tr>
                    <%for(let i=0; i<employees.length;i++){%>
                    <tr>
                        <td><%=employees[i].id%></td>
                        <td><%=employees[i].name%></td>
                        <td><%=Date(employees[i].createdAt)%></td>
                    </tr>
                    <%}%>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
