<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <!--===============================================================================================-->

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-4">
            <form method="post" action="addUserToDb">
                <label>User Name:</label><input type="text" required name="username">
                <label>Password:</label><input type="password" required name="password">
                <label>Type:</label>
                <input type="radio" name="type" value="Admin" checked="checked">Admin
                <input type="radio" name="type" value="Normal">Normal

                <input type="submit" value="Add User">
            </form>
        </div>
    </div>
</div>
</body>
</html>
