<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- jQuery -->
            <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

           <!--===============================================================================================-->

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-4">
            <a type="button" class="btn" href="/index">Shopping List</a><br>
            <a type="button" class="btn" href="/addProduct">Add Product</a><br>
            <a type="button" class="btn" href="/api/auth/users">User List</a><br>
            <a type="button" class="btn" href="/api/auth/addUser">Add User</a>
        </div>
    </div>
</div>
</body>
</html>
